* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}
a {
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style: none;
}

button {
  box-shadow: none;
}

html,
body {
  height: 100vh;
  width: 100%;
}

.bg-primary {
  background-color: #f1f1f1;
  height: 32px;
  margin-bottom: 20px;
  padding-top: 6px;
}

.container {
  margin: 0 auto;
  width: 960px;
}

.infos {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact {
  display: flex;
  justify-content: space-between;
  letter-spacing: 0.24px;
}

.numbers {
  width: 250px;
  font-size: 12px;
}

.numbers p {
  display: flex;
  align-items: center;
}

.numbers p img {
  margin-right: 5px;
}

.helpers {
  width: 400px;
  font-size: 11px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.logo img {
  width: 139px;
}

.search {
  background: #ffffff no-repeat padding-box;
  border: 2px solid #dfdfdf;
  border-radius: 5px;
  width: 550px;
  height: 50px;
  display: flex;
  justify-content: space-around;
}

.search input {
  border: 0;
  color: #000000;
  width: 500px;
  height: 50px;
  background: transparent;
  margin-left: 15px;
}

.search input::placeholder {
  color: #000000;
}

.search input:focus,
input:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

.search img {
  width: 12px;
  margin-right: 15px;
}

.menu li a {
  color: #000000;
}

#drop-active {
  position: relative;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  padding: 15px;
  color: #000000;
}

#arrow {
  transform: rotate(-90deg);
  margin-bottom: 2px;
}

nav {
  display: none;
}

.dropdown {
  position: absolute;
  z-index: 200;
  top: 40px;
  margin-left: -70px;
  box-shadow: 0px 0px 6px #00000033;
  background-color: #ffffff;
  border-radius: 5px;
  width: 175px;
  padding: 20px 0 20px 0;
  text-align: center;
  cursor: pointer;
  font-size: 15px;
  line-height: 30px;
}

.dropdown li a:hover {
  color: #0dbc4f;
}

nav.active {
  display: block !important;
  transition: 0.3s;
}

#arrow.active {
  transform: none !important;
  transition: 0.3s;
}

.shopping img {
  width: 24px;
  height: 27px;
}

.shopping::after {
  content: '+50';
  color: #ffffff;
  font-size: 11px;
  text-align: center;
  width: 24px;
  height: 24px;
  background: #000000;
  border-radius: 50%;
  z-index: 200;
  position: absolute;
  margin-top: 7px;
  margin-left: -12px;
  line-height: 24px;
}
